@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.068);
}

.intro {
  background-image: 
    /* linear-gradient(
      to top,
      rgba(55, 47, 162, 0.952) 5%,
      rgba(55, 47, 162, 0.884) 10%,
      rgba(255, 255, 255, 0)
    ), */ url(assets/banner-mecanico.png);
  background-repeat: no-repeat;
  background-position: 30% top;
  background-size: cover;
}

@media only screen and (min-width: 400px) {
  .intro {
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: cover;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    background-image: 
    /* linear-gradient(
      to top,
      rgba(55, 47, 162, 0.952) 5%,
      rgba(55, 47, 162, 0.884) 10%,
      rgba(255, 255, 255, 0)
    ), */ url(assets/banner-mecanico-desktop.png);
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: cover;
  }
}

span {
  color: #0dff99;
}

p {
  font-weight: 400;
  font-size: 14px;
}

/* @media only screen and (min-width: 768px) {
  .tired {
    height: 500px;
  }
} */

.card-box-div {
  background-color: #2a0057;
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .card-box-div {
    background-color: #2a0057;
    margin: 10px 0px;

    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 1024px) {
  .card-box-div {
    background-color: #2a0057;
    margin: 10px -9px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  }
}

.card-box-div p {
  padding: 0px 10px 20px 20px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .card-box-div p {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 11px 26px 32px;
  }
}

.card-box-title {
  color: #f5a410;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .card-box-title {
    color: #f5a410;
    font-weight: bold;
  }
}

h2.card-box-title {
  padding: 20px 0px 10px 20px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  h2.card-box-title {
    padding: 30px 11px 18px 32px;
    font-size: 19px;
  }
}

@media only screen and (min-width: 1280px) {
  h2.card-box-title {
    padding: 30px 11px 18px 32px;
    font-size: 22px;
  }
}

.much-more {
  background-image: url(assets/tools.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(41, 35, 120);

  /* height: 524px; */
}

@media only screen and (min-width: 1024px) {
  .much-more {
    background-image: url(assets/chave-oficina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: rgb(41, 35, 120);

    /* height: 424px; */
  }
}

.trial-feature-card {
  background-color: #282378;
  padding: 0px 20px 19px 20px;

  width: 320px;
  height: 202px;
  margin-bottom: 120px;
  border-radius: 15px 15px 0px 0px;
}

@media only screen and (min-width: 768px) {
  .trial-feature-card {
    background-color: #282378;
    padding: 0px 20px 19px 20px;
    width: 362px;
    height: 266px;

    margin-bottom: 120px;
    border-radius: 15px 15px 0px 0px;
  }
}

.features-card-box p {
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .features-card-box p {
    line-height: 20px;
  }
}

.trial-card-title {
  font-size: 28px;
  color: #f5a410;
  padding-bottom: 16px;
  padding-left: 4px;
}

.emoji-icon {
  background-color: #4f46e5;
  margin-top: -36px;
  border-radius: 12px;
  width: 68px;
  height: 68px;
  margin-bottom: 14px;
}

.input-box {
  padding: 9px 10px;
  color: black;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.radio {
  margin-bottom: 16px;
}
