@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.068);
  
}

.Intro {
  background-image: 
    /* linear-gradient(
      to top,
      rgba(55, 47, 162, 0.952) 5%,
      rgba(55, 47, 162, 0.884) 10%,
      rgba(255, 255, 255, 0)
    ), */
    url(assets/banner-mecanico.png);
  background-repeat: no-repeat;
  background-position: 30% top;
  background-size: cover;
}


span {
  color: #0dff99;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.FeaturesInfo {
  background-color: #2a0057;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  
  
}

.Yellow {
  color: #f5a410;
  font-weight: bold;
}

h2.Yellow {
  padding: 20px 0px 10px 20px;
  font-size: 16px;
}



.FeaturesInfo p {
  padding: 0px 10px 20px 20px;
}

.MuchMore {
  background-image: url(assets/tools.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(41, 35, 120);

  height: 524px;
}



.FeatureWindowContainer {
  background-color: #282378;
  padding: 0px 20px 19px 20px;


  width: 320px;
  height: 202px;
  margin-bottom: 120px;
  border-radius: 15px 15px 0px 0px;
}

.trial-card-title {
  font-size: 28px;
  color: #F5A410;
  padding-bottom: 16px;
  padding-left: 4px;
}

.emoji-icon {
  background-color: #4F46E5;
  margin-top: -36px;
  border-radius: 12px;
  width: 68px;
  height: 68px;
  margin-bottom: 14px;
}



.InputBox {
  
  padding: 9px 13px;
  color: black;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.Radio {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {

  .Intro {
  background-image: 
    /* linear-gradient(
      to top,
      rgba(55, 47, 162, 0.952) 5%,
      rgba(55, 47, 162, 0.884) 10%,
      rgba(255, 255, 255, 0)
    ), */
    url(assets/banner-mecanico-desktop.png);
  background-repeat: no-repeat;
  background-position: 55%;
  background-size: cover;
  }
  
}

@media only screen and (min-width: 1024px) {
  .MuchMore {
    background-image: url(assets/tools-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: rgb(41, 35, 120);
  
    height: 424px;
  }

}

@media only screen and (min-width: 768px) {
.FeatureWindowContainer {
  background-color: #282378;
  padding: 0px 20px 19px 20px;
  

  
  margin-bottom: 120px;
  border-radius: 15px 15px 0px 0px;
}
}